/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    background-size: auto 100vh;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    font-size: 12px;
  }

/* se a tela tiver pelo menos 400px, vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
  
header {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: #e7e7e7;
  position: fixed;
  min-width: 100vw;
  top: 0;
  z-index: 1;
}
  
.menu ul {
  display: flex;
  justify-content: space-evenly;
}
  
.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 20px 20px;
}
  
a {
  text-decoration: none;
  color:rgba(63, 69, 109, 0.616);
}
  
a:hover {
  text-decoration: underline;
}
  
.titles {
  padding-top: 8em;
  padding-bottom: 2.5em;
}

.site-subtitle,
.site-title {
  text-align: center;
  color: rgb(63, 69, 109);
}

.site-label {
  font-weight: 500;
  font-size: 0.5em;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgba(63, 69, 109, 0.267);
  padding-top: 2em;
}

.site-title {
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 4em;
}

.site-subtitle {
  font-weight: 500;
  letter-spacing: 0.15em;
}

.projects,
.about,
.contact {
  padding: 2em;
  min-height: 50vh;
}

.projects .grid {
  display: grid;
  gap: 2em;
  grid-template-columns: 240px 240px;
  justify-content: center;
  align-content: center;
  height: 40vh;
}

@media (min-width: 1100px) {
  .projects .grid {
    grid-template-columns: repeat(4,230px);
  }
}

.img-portfolio {
  width: 120px;
  height: 120px;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.1);
}

.projects figure {
  text-align: center;
}

.projects figcaption {
  border: solid 1px #e7e7e7;
  font-size: 10pt;
  border-radius: 0.5em;
  padding: 10px;
  margin: 10px;
  color: rgb(63, 69, 109);
}

.projects figcaption:hover {
  background-color: #e7e7e7;
}

.img-about {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: 5px 22%;
  border-radius: 100%;
}

.about .grid-about {
  display: grid;
  gap: 2em;
  grid-template-columns: 350px 600px;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 70vh;
}

.text-about {
  line-height: 250%;
}

.text-about h1 {
  text-align: left;
  color: #3c3c3c;
  font-size: 30pt;
  font-weight: 900;
}

.text-about p {
  text-align: left;
  color: #3c3c3c;
  font-size: 14pt;
  font-weight: 200;
  line-height: 180%;
}

.contact .icons {
  font-size: 1.5em;
  text-align: center;
  padding: 25px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(5,100px);
  justify-content: center;
}

.contact a:hover {
  text-decoration: none;
  color: rgb(63, 69, 109);
}

.credits {
  font-weight: 500;
  font-size: 0.5em;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgba(63, 69, 109, 0.267);
  padding-top: 2em;
}